#Banner{
    background-color: rgb(91,73,60,255);
    color: white;
    text-align: center;
    align-content: center;
    height: 150px;
}

#Left_Menu
{
    background-color: rgba(249,154,62,255);
    text-align: center;
    align-content: center;
}

#Top_Menu
{
    background-color: rgba(195,145,130,255);
    text-align: center;
    align-content: center;
}

#Main
{
    text-align: center;
    align-content: center;
    height: 320px;
}

#Small{
    background-color: rgb(91,73,60,255);
    color: white;
    text-align: center;
    align-content: center;
}

#Photo1{
    background-color: rgba(197,105,122,255);
    text-align: center;
    align-content: center;
}

#Photo2{
    background-color: rgba(0,162,182,255);
    text-align: center;
    align-content: center;
}
